{% extends 'base.html' %}

{% block content %}

<div class="card main-card p-4">

    <h2 class="mb-3">
        👋 Welcome {{ request.user.username }} 
    </h2>

    <p class="text-primary fw-bold">
        {{ message }}
    </p>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button class="btn btn-primary">
            Add Task
        </button>
    </form>

    <hr>
<div class="alert alert-info">
    Total Tasks: {{ tasks.count }}
</div>
    <h3>Your Tasks</h3>

    <ul class="list-group">
        {% for task in tasks %}
            <li class="list-group-item d-flex justify-content-between">
                {{ task.title }}

                <a href="{% url 'delete_task' task.id %}"
                   class="btn btn-danger btn-sm">
                    Delete
                </a>
            </li>
        {% empty %}
            <li class="list-group-item">
                No tasks yet.
            </li>
        {% endfor %}
    </ul>

</div>

{% endblock %}